/*GENERAL*/

.box {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ac3d31;
    border: 1px solid rgba(0,0,0, .4);
}

body {
    padding-top: 90px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
/*MAIN HEADER*/

.main-header .navbar.navbar-inverse {
    background: #2c3e50;
    padding: 20px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a   {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #1abc9c;
}

.navbar-inverse .navbar-toggle {
 border-color: #fff;
}

/*JUMBOTRON*/

.jumbotron {
    color: #fff;
    background: #1abc9c;
}

.jumbotron img {
    width: 20%;
}

.jumbotron h2 {
    font-size: 70px;
}

.jumbotron h3 {
    display: inline;
    font-size: 30px;
}

.jumbotron .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron .divider .ta-icon {
    vertical-align: middle;
    font-size: 35px;
    padding: 0 30px;
}

.jumbotron .divider::before,
.jumbotron .divider::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 18%;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #fff;
}

/*PORTFOLIO*/

.portfolio {
    margin-bottom: 30px;
}

.portfolio h2 {
    text-align: center;
    font-size: 56px;
}

.portfolio .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfolio .divider .ta-icon {
    color: #2c3e50;
    vertical-align: middle;
    font-size: 35px;
    padding: 0 30px;
}

.portfolio .divider::before,
.portfolio .divider::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 18%;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    background: #2c3e50;
}

.portfolio img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}


/*ABOUT*/
.about {
    color: #fff;
    background: #1abc9c;
}

.about h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 56px;
}

.about .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about .divider .ta-icon {
    vertical-align: middle;
    font-size: 35px;
    padding: 0 30px;
}

.about .divider::before,
.about .divider::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 18%;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #fff;
}

.about p {
    font-size: 19px;
    line-height: 25px;
}

.about .btn {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    background: #1abc9c;
    border: 1px solid #fff;
    font-size: 18px;
}

.about .btn .ta-icon {
    padding-left: 8px;
    padding-right: 8px;
}

.about .btn:hover {
    color: #1abc9c;
    background: #fff;
}




/*FOOTER*/

.footer-top {
    background: #3a546d;
    height: 245px;
}


.footer-bottom {
    background: #2c3e50;
    height: 85px;
}

