/*GENERAL*/

.box {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ac3d31;
    border: 1px solid rgba(0,0,0, .4);
}

/*MAIN HEADER*/

.main-header {
    background: #2c3e50;
    height: 90px;
}

/*HERO*/

.hero {
    background: #1abc9c;
    height: 200px;
}

.about {
    background: #1abc9c;
    height: 350px;
}
