/*GENERAL*/

.box {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ac3d31;
    border: 1px solid rgba(0,0,0, .4);
}

body {
    padding-top: 90px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
/*MAIN HEADER*/

.main-header .navbar.navbar-inverse {
    background: #2c3e50;
    padding: 20px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a   {
    color: #fff;
    transition: color .3s;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #1abc9c;
}

.navbar-inverse .navbar-toggle {
 border-color: #fff;
}

/*JUMBOTRON*/

.jumbotron {
    color: #fff;
    background: #1abc9c;
}

.jumbotron img {
    width: 20%;
}

.jumbotron h2 {
    font-size: 70px;
}

.jumbotron h3 {
    display: inline;
    font-size: 30px;
}

.jumbotron .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron .divider .ta-icon {
    vertical-align: middle;
    font-size: 35px;
    padding: 0 30px;
}

.jumbotron .divider::before,
.jumbotron .divider::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 18%;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #fff;
}

/*PORTFOLIO*/

.portfolio {
    margin-bottom: 30px;
}

.portfolio h2 {
    text-align: center;
    font-size: 56px;
}


.portfolio .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfolio .divider .ta-icon {
    color: #2c3e50;
    vertical-align: middle;
    font-size: 35px;
    padding: 0 30px;
}

.portfolio .divider::before,
.portfolio .divider::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 18%;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    background: #2c3e50;
}

.portfolio img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

/*ABOUT*/
.about {
    color: #fff;
    background: #1abc9c;
}

.about h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 56px;
}

.about .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about .divider .ta-icon {
    vertical-align: middle;
    font-size: 35px;
    padding: 0 30px;
}

.about .divider::before,
.about .divider::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 18%;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #fff;
}

.about p {
    font-size: 19px;
    line-height: 25px;
}

.about .btn {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    background: #1abc9c;
    border: 1px solid #fff;
    font-size: 18px;
    transition: background .3s;
}

.about .btn .ta-icon {
    padding-left: 8px;
    padding-right: 8px;
}

.about .btn:hover {
    color: #1abc9c;
    background: #fff;
}

/*CONTACT*/
.contact {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact h2 {
    text-align: center;
    font-size: 54px;
}

.contact .divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact .divider .ta-icon {
    color: #2c3e50;
    vertical-align: middle;
    font-size: 35px;
    padding: 0 30px;
}

.contact .divider::before,
.contact .divider::after {
    content: '';
    display: inline-block;
    height: 4px;
    width: 18%;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    background: #2c3e50;
}

.contact input,
.contact textarea {
    margin-bottom: 20px;
    padding: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0, .4);
    box-shadow: none;
    font-size: 20px;
}

.contact textarea {
    height: 150px;
    margin-bottom: 20px;
}

.contact label {
    color: #2c3e50;
    font-size: 20px;
}

.contact input::placeholder,
.contact textarea::placeholder {
    font-size: 14px;
}

.contact input:hover,
.contact textarea:hover,
.contact input:focus,
.contact textarea:focus {
    box-shadow: none;
    border-color: rgba(0,0,0, .4);
}

.contact .btn {
    color: #fff;
    background: #1abc9c;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    transition: background .3s;
}

.contact .btn:hover {
    background: #08392f;
}

/*FOOTER*/

/*FOOTER-TOP*/

.footer-top,
.footer-bottom {
    color: #fff;
}

.footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #3a546d;
}

.footer-top h4 {
    font-weight: 400;
    font-size: 20px;
}

.footer-top p {
    font-size: 20px;
}

.footer-top mark {
    background: transparent;
    color: #1abc9c;
}

.main-footer .footer-top i {
    display: inline-block;
    margin: 7px;
    padding: 15px;
    width: 8%;
    font-size: 26px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background .3s;
}

.main-footer .footer-top i:hover {
    background: #fff;
    color: #1abc9c;
}

/*FOOTER-BOTTOM*/

.footer-bottom {
    background: #2c3e50;
    padding: 40px;
}

.footer-bottom h6 {
    font-weight: 400;
}


/*BREAK POINTS ICONE FOOTER*/

@media screen and (min-width: 768px) {
    .main-footer .footer-top i {
    margin: 1px;
    padding: 12px;
    font-size: 21px;
    width: 22%;
    }
}

@media screen and (min-width: 992px) {
    .main-footer .footer-top i {
    margin: 3px;
    padding: 12px;
    font-size: 26px;
    width: 18%;
    }
}

@media screen and (min-width: 1200px) {
    .main-footer .footer-top i {
    margin: 3px;
    padding: 20px;
    font-size: 26px;
    width: 20%;
    }
}
